body {
  background-color: #213547;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.change-btn {
  color: #154877;
  font-size: 24px;
  display: block;
  text-align: center;
  margin: 0 auto 40px;
  border: 2px solid #111c27;
}

.change-btn:active {
  transition: 0.2s;
  background-color: #d6d9db;
  border-color: #d6d9db;
}

.circle-block {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  border: 3px solid #535bf2;
  gap: 20px;
  border-radius: 15px;
}